<!doctype html>
<html>
    <%- include('head'); -%>
    <body>
        <%- include('navbar'); -%>
        <div id="bg"></div>  
        <div class="container" style="min-height: 100%;">
            <div class="row m-5">
            </div>
            <h1>Edit List</h1>
            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">List Name</span>
                    </div>
                    <input class="form-control" type="text" value="<%= list[0].name %>">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="selector">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-12">
                    <ul class="list-group">
                        <% for(let i=0; i<list[0].items.length; i++) { %>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="image-parent">
                                            <img src="<%= list[0].items[i].image %>" class="img-fluid" alt="quixote">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b><%= list[0].items[i].name %></b><br>
                                        <p class="text-justify"><%= list[0].items[i].description %></p>
                                    </div>
                                    <div class="col-md-4" align="center">
                                        <% for(let j=0; j<list[0].items[i].offers.length; j++) { %>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon2"><%= list[0].items[i].offers[j].reseller %></span>
                                                </div>
                                                <input readonly type="text" class="form-control" id="staticPrice" value="&euro;&nbsp;<%= list[0].items[i].offers[j].price %>">
                                            </div>
                                        <% } %>
                                        <form class="form-group row">
                                            <div class="col-md-7" align="left"><p>Notify me when the price is below:</p></div>
                                            <div class="col-md-5 align-self-center">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-euro-sign"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="staticPrice" placeholder="10">
                                                    <button class="btn btn-primary"><i class="fas fa-bell"></i></button>
                                                </div>
                                            </div>
                                        </form>   
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                    <div class="row m-2">
                    </div>
                    <div align="center">
                        <input class="btn btn-primary" type="submit" value="Edit List" data-toggle="modal" data-target="#exampleModal"/>
                        <div class="col-md-2" align="right">
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Done</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" align="left">
                                            List edited with success!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" href="MyLists.html">Go to My Lists!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row m-5">
                    </div>                  
                </div>
            </div>
        </div>
        <%- include('footer'); -%>
    </body>
    <%- include('generic_js') -%>
</html>