<!doctype html>
    <%- include('head'); -%>
    <body>
        <% if(user){ %>
            <%- include('navbar', user); -%>
        <% } else { %>
            <%- include('navbar_anonymous'); -%>
        <% } %>
        <div id="bg"></div>  
        <div class="container" style="min-height: 100%;">
            <div class="row m-5">
            </div>
            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                <h1 id="arena">ArenaKeys</h1>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="What game are you looking for?" aria-label="What game are you looking for?" aria-describedby="basic-addon1" id="searchBar">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary" type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-12">
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="light">Results</h4>
                        </div>
                    </div>
                    <ul class="list-group">
                        <% for(let i=0; i<searchResults.length; i++) { %>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <b><%= searchResults[i].name %></b>
                                        <div class="image-parent">
                                            <img src="<%= searchResults[i].image %>" class="img-fluid" alt="quixote">&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <% for(let j=0; j<searchResults[i].offers.length; j++) { %>
                                            <% if (searchResults[i].offers[j].reseller === "Steam") { %>
                                                <button class="btn btn-dark btn-block" type="button" onclick="window.open('<%= searchResults[i].offers[j].link %>');" style="white-space:nowrap;">
                                                    <i class="fab fa-steam"></i>&nbsp;<%= searchResults[i].offers[j].reseller %>: &euro;&nbsp;<%= searchResults[i].offers[j].price %>
                                                </button>
                                            <% } else if (searchResults[i].offers[j].reseller === "Gamivo") { %>
                                                <button class="btn btn-block" type="button" onclick="window.open('<%= searchResults[i].offers[j].link %>');" style="color:white;background-color:#BF353D;white-space:nowrap;">
                                                    <i class="icon-play" style="background-image : url(logos/gamivo-logo-single.png);"></i>&nbsp;<%= searchResults[i].offers[j].reseller %>: &euro;&nbsp;<%= searchResults[i].offers[j].price %>
                                                </button>
                                            <% } else if (searchResults[i].offers[j].reseller === "HRKGame") { %>
                                                <button class="btn btn-block" type="button" onclick="window.open('<%= searchResults[i].offers[j].link %>');" style="color:white;background-color:#EF4125;white-space:nowrap;">
                                                    <i class="icon-play" style="background-image : url(logos/hrk-logo.webp)"></i>&nbsp;<%= searchResults[i].offers[j].reseller %>: &euro;&nbsp;<%= searchResults[i].offers[j].price %>
                                                </button>
                                            <% } else if (searchResults[i].offers[j].reseller === "CDKeys") { %>
                                                <button class="btn btn-block" type="button" onclick="window.open('<%= searchResults[i].offers[j].link %>');" style="color:white;background-color:#019EE9;white-space:nowrap;">
                                                    <i class="icon-play" style="background-image : url(logos/cdkeys-logo.png);"></i>&nbsp;<%= searchResults[i].offers[j].reseller %>: &euro;&nbsp;<%= searchResults[i].offers[j].price %>
                                                </button>    
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="col-md-2" align="center">
                                        <div class="dropdown">
                                            <% if(user){ %>
                                                <p></p>
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <% for(let k=0; k<userLists.length; k++) { %>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" onclick="addGame('<%= userLists[k].id %>','<%= searchResults[i]['steamID'] %>')"><%= userLists[k].name %></a>
                                                    <% } %>
                                                </div>
                                            <% } else { %>
                                                <p></p>
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Feature restricted to logged users" disabled>
                                                    <i class="fas fa-plus"></i>
                                                </button>   
                                            <% } %>
                                        </div>    
                                    </div>
                                </div>
                            </li>
                        <% } %>
                        <div class="modal fade" id="addGameModalSuccess" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="successModalLabel">Done</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" align="left">
                                        Game added with success!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="addGameModalError" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" align="left">
                                        An error occurred :(
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('footer'); -%>
    </body>
    <%- include('generic_js') -%>  
    <script type="text/javascript" src="/js/auth_client.js"></script>
    <script type="text/javascript" src="/js/search_bar.js"></script>

    <script>
        let url;
        let gToken;
        let sToken;
        $.each(document.cookie.split(/; */), function()  {
            let splitCookie = this.split('=');
            if(splitCookie[0] === 'gToken')
                gToken = splitCookie[1];
            else if(splitCookie[0] === 'sToken')
                sToken = splitCookie[1];
        });

        function addGame(listId, steamId){
            console.log("Adding game " + steamId + " with list " + listId);
            //let base = "172.24.4.137:3030";
	    if(gToken)
                url = ":3030/google/userlist/"+listId;
            else if(sToken)
                url = "http://gamekeys.org:3030/steam/userlist/"+listId;

            $.ajax({
                url: url,
                type: 'GET',
                headers: {
                    "Authorization": "Bearer " + sToken,
                    "Content-Type": "application/json"
                },
                success: function(fetchedList) {
                    fetchedList['items'].push({steamID: steamId});
                    console.log(fetchedList);
                    $.ajax({
                        url: url,
                        type: 'PUT',
			crossDomain: true,
                        headers: {
                            "Authorization": "Bearer " + sToken,
                            "Content-Type": "application/json"
                        },
                        data: JSON.stringify(fetchedList),//list has been updated with a removed item
                        success: function(result) {
                            console.log("Updated list successfully");
                            console.log(result);
                            $('#addGameModalSuccess').modal('show');
                        },
                        error: function(error, options, thrownError){
                            console.log("Updated list error");
                            console.log(error);
		            console.log(options);
                            console.log(thrownError);
                            $('#addGameModalError').modal('show');
                        }
                    });
                },
                error: function(error){
                    console.log("Fetch error");
                    error.then(dataerr => console.log(dataerr));
                }
            });
        }
    </script>

</html>
