<!doctype html>
    <%- include('head'); -%>
    <body>
        <%- include('navbar'); -%>
        <div id="bg"></div>
    
        <div class="container" style="min-height: 100%;">

            <div class="row m-5">
            </div>
            <div class="row">
            <div class="col-md-8">
                <h1>My Lists</h1>
            </div> 
            <div class="col-md-4" align="right">   
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-placement="top" data-target="#newListModal" title="Add new list"><i class="fas fa-plus"></i></button>
                <div class="modal fade" id="newListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New List</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" align="left">
                                <div class="form-group row">
                                    <label for="listName" class="col-sm-3 col-form-label">List Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="listName">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Create List</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark btn-lg" data-toggle="modal" data-target="#steamListModal"><i class="fab fa-steam"></i> &nbsp; Import Steam Wishlist</button>
                <div class="modal fade" id="steamListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Import Steam Wishlist</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" align="left">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" align="center">
                                            <button class="btn btn-dark"><i class="fab fa-steam"></i> &nbsp; Import from personal account</button>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div><p></p>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" align="center">
                                            <p>OR</p>
                                        </div>  
                                        <div class="col-md-2"></div>  
                                    </div>
                                    <div class="row">
                                        <label for="accountLink" class="col-sm-4 col-form-label">Other account link:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="accountLink">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Create List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="">
                <div class="accordion" id="accordionExample">
                    <% for (let i=0; i<listsResult.length; i++) { %>
                        <div class="card">
                            <div class="card-header" id="heading<%=i%>">
                                <h5 class="mb-0">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                                                <%= listsResult[i].name %>
                                            </button>
                                        </div>
                                        <div class="col-md-2" align="right">
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%=i%>"><i class="fas fa-trash"></i></button>
                                            <div class="modal fade" id="deleteModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" align="left">
                                                            Are you sure to delete this list?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-danger">Yes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#accordionExample">
                                <ul class="list-group">
                                    <% for(let j=0; j<listsResult[i].items.length; j++) { %>
                                        <li class="list-group-item">
                                            <div class="row align-items-center">
                                                <div class="col-md-5">
                                                    <div class="image-parent">
                                                        <img src="<%= listsResult[i].items[j].image %>" class="img-fluid" alt="quixote">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <b><%= listsResult[i].items[j].name %></b><br>
                                                    <p class="text-justify"><%= listsResult[i].items[j].description %></p>
                                                </div>
                                                <div class="col-md-2" align="center">
                                                    <% for(let k=0; k<listsResult[i].items[j].offers.length; k++) { %>
                                                        <% if (listsResult[i].items[j].offers[k].reseller === "Steam") { %>
                                                            <button class="btn btn-dark btn-block" type="button" onclick="window.open('<%= listsResult[i].items[j].offers[k].link %>');" style="white-space:nowrap;">
                                                                <i class="fab fa-steam"></i>&nbsp;<%= listsResult[i].items[j].offers[k].reseller %>: &euro;&nbsp;<%= listsResult[i].items[j].offers[k].price %>
                                                            </button>
                                                        <% } else if (listsResult[i].items[j].offers[k].reseller === "Gamivo") { %>
                                                            <button class="btn btn-block" type="button" onclick="window.open('<%= listsResult[i].items[j].offers[k].link %>');" style="color:white;background-color:#BF353D;white-space:nowrap;">
                                                                <i class="icon-play" style="background-image : url(logos/gamivo-logo-single.png);"></i>&nbsp;<%= listsResult[i].items[j].offers[k].reseller %>: &euro;&nbsp;<%= listsResult[i].items[j].offers[k].price %>
                                                                <!--img src="logos/gamivo-logo-single.png" style="width:15%;height:15%"-->
                                                            </button>
                                                        <% } else if (listsResult[i].items[j].offers[k].reseller === "HRK") { %>
                                                            <button class="btn btn-block" type="button" onclick="window.open('<%= listsResult[i].items[j].offers[k].link %>');" style="color:white;background-color:#EF4125;white-space:nowrap;">
                                                                <i class="icon-play" style="background-image : url(logos/hrk-logo.webp)"></i>&nbsp;<%= listsResult[i].items[j].offers[k].reseller %>: &euro;&nbsp;<%= listsResult[i].items[j].offers[k].price %>
                                                            </button>
                                                        <% } else { %>
                                                            <button class="btn btn-block" type="button" onclick="window.open('<%= listsResult[i].items[j].offers[k].link %>');" style="color:white;background-color:#019EE9;white-space:nowrap;">
                                                                <i class="icon-play" style="background-image : url(logos/cdkeys-logo.png);"></i>&nbsp;<%= listsResult[i].items[j].offers[k].reseller %>: &euro;&nbsp;<%= listsResult[i].items[j].offers[k].price %>
                                                            </button>    
                                                        <% } %>
                                                    <% } %>
                                                    <p></p><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                </div> 
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row m-5">
        </div>
        <%- include('footer'); -%>
    </body>
    <%- include('generic_js') -%>
</html>